{% extends 'base.html' %}

{% block title %}
Список курсов
{% endblock %}

{% block content %}

<h1>Мои курсы</h1>
<div class="module">
    {% for course in object_list %}
    <div class="course-info">
        <h3>
            <a href=".">
                {{ course }}
            </a>
        </h3>
        <p>
            <a href="{% url 'courses:course_update' course.pk %}">Изменить</a>
            <a href="{% url 'courses:course_delete' course.pk %}">Удалить</a>
            <a href="{% url 'courses:module_update' course.pk %}">Добавить модуль</a>
            {% with modules=course.modules.all %}
            {% if modules %}
            <a href="{% url 'courses:module_content_list' module_id=modules.first.pk %}">Редактировать</a>
            {% endif %}
            {% endwith %}
        </p>
    </div>
    {% empty %}
    <p>Список курсов пуст</p>
    {% endfor %}
    <p>
        <a href="{% url 'courses:course_create' %}" class="button">Создать новый курс</a>
    </p>
</div>
{% endblock %}