{% extends "base.html" %}

{% block title %}
{{ object }}
{% endblock %}

{% block content %}
{% with subject=object.subject %}
<h1>{{ object }}</h1>
<div class="module">
    <h2>Обзор</h2>
    <p>
        <a href="{% url 'courses:course_list_subject' subject.slug %}">
            {{ subject }}.
        </a>
        {{ object.modules.count }} модулей,
        Автор: {{ object.owner.username|title }}
    </p>
    {{ object.description|linebreaks }}

    {% if request.user.is_authenticated %}
    <form action="{% url 'students:student_enroll_course' %}" method="post">{% csrf_token %}
        {{ enroll_form }}
        <input type="submit" class="button" value="записаться">
    </form>
    {% else %}
    <a href="{% url 'students:register' %}" class="button">
        Зарегистрироваться
    </a>
    <a href="{% url 'login' %}" class="button">
        Войти
    </a>
    {% endif %}


</div>
{% endwith %}
{% endblock %}